# ignore most things, include some others
/*
/.*

!/tsconfig*.json
!/bin/
!/lib/
!/docs/
!/package.json
!/package-lock.json
!/README.md
!/CONTRIBUTING.md
!/LICENSE
!/LICENSE.*
!/CHANGELOG.md
!/example/
!/scripts/
!/tap-snapshots/
!/test/
!/.github/
!/.gitignore
!/.prettierignore
!/.gitattributes
!/coverage-map.js
!/coverage-map.[mc]js
!/map.js
!/map.[mc]js
!/index.js
!/index.[mc]js
