# ignore most things, include some others
/*
/.*

!/.tshy
!/typedoc.json
!/tsconfig.json
!/tsconfig
!/.tshy
!/tsconfig/*.json
!/src/
!/package.json
!/package-lock.json
!/README.md
!/CONTRIBUTING.md
!/LICENSE
!/LICENSE.*
!/CHANGELOG.md
!/example/
!/scripts/
!/tap-snapshots/
!/test/
!/.github/
!/.gitignore
!/.prettierignore
!/.gitattributes
!/coverage-map.js
!/coverage-map.[mc]js
!/map.js
!/map.[mc]js
!/index.js
!/index.[mc]js
